<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- Logo -->
<div class="text-center">
  <a routerLink="/career">
    <img src="assets/logo.jpg" alt="Logo" class="img-responsive"
      style="max-width: 120px; height: auto; margin-left: 30px; cursor: pointer;" />
  </a>
</div>


<div class="container center-container">

  <div class="row">
    <!-- Image Column -->
    <div class="col-md-7">
      <div class="image-container" style="padding: 30px; text-align: center;">
        <img src="assets/login.jpg" alt="Login Image" class="img-responsive"
          style="max-width: 100%; height: auto; border-radius: 8px;" />
      </div>
    </div>
    <!-- Login Form Column -->
    <div class="col-md-5">
      <div id="loginbox" class="mainbox login-box">
        <div class="panel panel-info">
          <div class="panel-heading text-center" style="background-color:#007bff; color: white;">
            <div class="panel-title">Sign In</div>
          </div>

          <div style="padding: 30px" class="panel-body">
            <div *ngIf="loginError" class="alert alert-danger text-center">{{ loginError }}</div>

            <form (ngSubmit)="onLogin()" #loginForm="ngForm">
              <div class="input-group" style="margin-bottom: 20px;">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input id="login-username" type="text" class="form-control" name="employeeId" [(ngModel)]="employeeId"
                  placeholder="Username or Email" required />
              </div>

              <div class="input-group" style="margin-bottom: 20px;">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input id="login-password" type="password" class="form-control" name="employeePassword"
                  [(ngModel)]="employeePassword" placeholder="Password" required />
              </div>

              <div class="d-flex justify-content-center mt-4">
                <button type="submit" class="btn btn-success btn-block w-100" style="max-width: 180px;"
                  [disabled]="isLoading">
                  {{ isLoading ? 'Logging in...' : 'Login' }}
                </button>
              </div>

              <div class="form-group text-center" style="margin-top: 15px;">
                <div style="border-top: 1px solid #ccc; padding-top: 15px; font-size: 110%; font-weight: bold;">
                  Don't have an account?
                  <a routerLink="/signup" style="color: #007bff;">Register Here</a>
                </div>
                <br />
                <div style="font-size: 110%; font-weight: bold;">
                  <a href="#" style="color: #007bff;">Forgot password?</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>