.panel-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: white;
}



:host {
    display: block;
    height: 100%;
    overflow: hidden;
}




/* Styling the login box */
.signup-box {
    width: 100%;
    max-width: 500px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);

}




.panel {
    border: none !important;
    /* Ensures Bootstrap styles don't override */
    background-color: white !important;
    /* Forces white background */
    box-shadow: none !important;
    /* Ensures no shadow is applied */
}